h1{
  text-align: center;
  font-size: 90px;
  margin-bottom: 6px;
  margin-top: 7px;
  color: red;
}
.head{
  font-size: 32px;
  color: red;
  margin-left: 80px;
  text-transform: uppercase;
}
.a{
  font-family: fantasy;
  font-size: 24px;
  color: white;
}
.hash{
  border: 1px;
  padding-top: 2px;
  margin: 2px;
}
img{
  float: right;
  margin-top: -50px;
}
body{
  background-color: #3C3F3E;
}
li{
  color: white;
  font-size: 24px;
  list-style-type: square;
  list-style-position: outside;
}
